

%tiny-font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
}

%normal-font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:400;
}

%bold-font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:600;
}
