$background-color : #EAEAEA;
$border-color: #e0f2f1;
$border-active-color: #b2dfdb;

$button-color : #4db6ac;
$button-hover-color : #26a69a;

$user-color: #009688;



$small : 460px;
$medium : 960px;
$big : 1024px;
